---
import Logo from "@/components/ui/Logo.astro";
import "@/styles/layouts/header.scss";
---

<header class="header">
  <a href="/">
    <figure class="size-logo">
      <Logo />
    </figure>
  </a>

  <nav class="nav hidden">
    <ul class="nav__list">
      <li class="nav__item">
        <a href="" class="nav__link">WORK</a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">ABOUT</a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">NEWS</a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">THINKING</a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">CAREERS</a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">CONTACT</a>
      </li>
    </ul>
  </nav>

  <div class="menu toggle">...</div>
</header>
